<a href="https://colab.research.google.com/github/IshaanGaba/Mini-Project-04-Marks-Adding/blob/main/Mini_Project_04_Marks_Adding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/Mini Project - Marks Adding.csv')
df

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]

In [12]:
df1=df.groupby('Roll Num')['Marks']
print(df1)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7fe95a8152d0>

In [10]:
#df1=df.groupby('Roll Num')['Marks'].groups
#print(df1)

{102003001: [214, 939, 953, 1219], 102003002: [121, 356, 438, 797, 1114], 102003017: [293, 951, 1271, 1569, 1763], 102003018: [266, 335, 555, 741, 1360], 102003029: [223, 570, 663, 1483, 1821], 102003030: [405, 962, 1270, 1386, 1731], 102003037: [352, 558, 943, 1156, 1217], 102003039: [283, 379, 937, 964, 1622], 102003041: [149, 1800], 102003042: [303, 1128, 1786], 102003049: [67, 454, 1040, 1082, 1227], 102003050: [763, 1261, 1396, 1647, 1812], 102003053: [805, 883, 1152, 1309, 1781], 102003056: [363, 616, 1447], 102003069: [74, 559, 569, 1310, 1314], 102003070: [538, 625, 1167, 1214, 1698], 102003071: [407, 879, 904, 1529, 1748], 102003082: [790, 909, 1030, 1395, 1510], 102003083: [257, 528, 690, 1228, 1741], 102003085: [1072, 1085, 1485, 1576, 1662], 102003089: [1560], 102003090: [111, 169, 225, 673], 102003098: [24, 584, 671, 973, 1481], 102003099: [125, 387, 507, 614, 1617], 102003101: [172, 314, 336, 1624], 102003105: [348, 640, 1057, 1162], 102003106: [104, 206, 633, 838, 896], 102003109: [53, 240, 489, 611, 1019], 102003112: [71, 181, 714, 740, 1328], 102003113: [182, 503, 1133, 1145, 1601], 102003116: [209, 307, 571, 854, 1414], 102003117: [762, 872, 1104, 1285], 102003118: [35, 103, 1116, 1308, 1412], 102003124: [450, 612, 631, 794, 1313], 102003125: [321, 487, 946, 1198, 1759], 102003127: [95, 248, 1280, 1352, 1707], 102003128: [672, 1383, 1507, 1626, 1665], 102003129: [105, 645, 796, 1232, 1672], 102003131: [501, 520, 591, 986, 1596], 102003132: [26, 1381, 1382, 1696, 1796], 102003135: [10, 1221, 1295, 1627], 102003137: [218, 636, 967, 1184, 1245], 102003138: [55, 183, 301, 410, 623], 102003139: [778, 1142, 1353, 1645], 102003140: [291, 313, 1351, 1479, 1778], 102003141: [17, 1078, 1140, 1197, 1678], 102003146: [709, 742, 1738, 1771, 1806], 102003149: [1516, 1605], 102003152: [22, 513, 540, 942], 102003156: [479, 808, 864, 1401, 1441], 102003157: [371, 767, 979, 1550, 1802], 102003158: [574, 826, 890, 932, 1785], 102003160: [66, 1002, 1528, 1701, 1735], 102003161: [52, 1100, 1191, 1475, 1722], 102003162: [211, 268, 764, 958, 1306], 102003164: [428, 534, 708, 960, 1691], 102003165: [157, 255, 1480], 102003166: [152, 253, 306, 1229, 1240], 102003169: [45, 320, 488, 1089, 1780], 102003171: [230, 699, 721, 1185, 1251], 102003173: [377, 1034, 1188, 1518], 102003177: [226, 585, 1032, 1471, 1650], 102003178: [201, 923, 1331, 1342, 1348], 102003184: [275, 418, 476, 725, 1257], 102003205: [246, 970, 1179, 1248, 1659], 102003206: [135, 954, 1266, 1365, 1597], 102003207: [7, 1290, 1431, 1583], 102003220: [261, 415, 1683, 1827], 102003228: [155, 197, 1236, 1457, 1720], 102003235: [85, 634, 1066, 1505, 1602], 102003238: [119, 641, 650, 844, 1452], 102003242: [615, 1199, 1443, 1661, 1826], 102003243: [365, 800, 982, 1063, 1584], 102003251: [682, 898, 989, 1690], 102003253: [627, 738, 780, 788], 102003256: [213, 858, 1115, 1744], 102003257: [178, 859, 907, 1118, 1798], 102003274: [110, 140, 772, 1096, 1555], 102003288: [664, 881, 1752, 1774], 102003289: [637, 732], 102003290: [86, 296, 1429, 1513], 102003293: [649, 710, 840, 1327], 102003295: [791, 802, 931, 1051, 1305], 102003299: [49, 1045, 1585, 1679], 102003304: [308, 688, 1554, 1556, 1760], 102003306: [16, 304, 518, 1324, 1670], 102003307: [3, 367, 667, 1453], 102003312: [128, 179, 368, 1042, 1189], 102003313: [54, 466, 643, 1535, 1649], 102003315: [8, 286, 511, 1178, 1242], 102003318: [242, 676, 894, 1338, 1490], 102003322: [595, 660, 868, 1252, 1620], 102003323: [267, 706, 1398, 1423, 1813], 102003333: [168, 241, 930, 1068, 1574], 102003334: [191, 505, 814, 1010, 1809], 102003346: [107, 265, 1079, 1194, 1689], 102003355: [202, 422, 498, 1170, 1694], 102003356: [151, 496, 812, 1361, 1388], 102003362: [9, 175, 924, 1377], 102003364: [171, 521, 1373, 1753], ...}

In [13]:
df2=df1.sum()
df2

Roll Num
102003001    3
102003002    5
102003017    5
102003018    5
102003029    5
            ..
102196010    4
102197016    5
102197018    4
102197019    5
102197021    5
Name: Marks, Length: 400, dtype: int64

In [14]:
df2=df2.reset_index()

In [18]:
df2

      Roll Num  Marks
0    102003001      3
1    102003002      5
2    102003017      5
3    102003018      5
4    102003029      5
..         ...    ...
395  102196010      4
396  102197016      5
397  102197018      4
398  102197019      5
399  102197021      5

[400 rows x 2 columns]

In [16]:
df2.to_csv('Marks done.csv')